$color-bg: #eee;
$color-text: #111;

.container {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  margin: 0 auto;
  max-width: 60%;
  line-height: 1.5;
}

.current {
  background-color: grey;

}

.jumbotron {
  text-align: center;
  height: 100vh;
}

.navbar {
  padding: 0 1rem;
  .active {
    background-color: #444;
  }
}

.footer{
  text-align: center;
  padding: 5rem;
  color: #ddd;
  background-color: #333;
}
