@import url(highlighting_default.css);

$dark-shades: #2D2C36;
$dark-accent: #D18141;
$main-color: #BD2626;
$light-accent: #807E80;
$light-shades: #E5E4E0;
$dark-bg: darken($dark-shades, 5%);
$ui-primary: #be2b28;
$ui-info: #2d2c36;
$ui-success: #6e8744;
$ui-warning: #ec770c;
$ui-danger: #f44336;

$color-bg: #eee;
$color-text: #111;

html, body {
  margin: 0;
  height: 100%;
  font-family: 'Saira Semi Condensed', sans-serif;
  color: darken($light-shades, 10%);
}

body {
  // background-image: url("/assets/images/backgroundimage.jpg");
  background-repeat: repeat;
  background-size: 100%;
  background-color: $dark-bg;
}

li {
  list-style: none;
}

#avatar {
  border-radius: 50%;
  width: 5rem;
}

.btn-success {
  background-color: $ui-success;
  border-color: $ui-success;
  color: dark-shades;
  &:hover{
    background-color: lighten($ui-success, 20%);
    border-color: lighten($ui-success, 20%);
  }
  &:active{
    background-color: darken($ui-success, 20%);
    border-color: darken($ui-success, 20%);
  }
  &:focus{
    box-shadow: 0 0 0 .2rem darken($ui-success, 10%);
  }
}

.btn-primary {
  background-color: $ui-primary;
  border-color: $ui-primary;
  color: dark-shades;
  &:hover{
    background-color: lighten($ui-primary, 20%);
    border-color: lighten($ui-primary, 20%);
  }
  &:active{
    background-color: darken($ui-primary, 20%);
    border-color: darken($ui-primary, 20%);
  }
  &:focus{
    box-shadow: 0 0 0 .2rem darken($ui-primary, 10%);
  }
}

.btn-secondary {
  background-color: $ui-info;
  border-color: $ui-info;
  color: dark-shades;
  &:hover{
    background-color: lighten($ui-info, 20%);
    border-color: lighten($ui-info, 20%);
  }
  &:active{
    background-color: darken($ui-info, 20%);
    border-color: darken($ui-info, 20%);
  }
  &:focus{
    box-shadow: 0 0 0 .2rem darken($ui-info, 10%);
  }
}

.front-aboutme > #aboutme {
  background-color: rgba($dark-shades, .4);
}

#aboutme {
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
  margin-bottom: 4rem;
  text-align: left;
  align-self: center;
  border: 1px solid $light-accent;
  border-radius: 0 2rem 0 2rem;
  max-width: 50rem;
  padding: 2rem 1rem 1rem;
  a {
    margin-right: 1rem;
    color: lighten($light-shades, 20%);
  }
  h6 {
    color: $dark-accent;
  }
}

.form-control {
  color: $light-shades;
  background-color: $dark-shades;
  border: 1px solid $light-accent;
  &:focus{
    color: $light-shades;
    background-color: $dark-shades;
    box-shadow: 0 0 0 .2rem darken($light-accent, 10%);
    border-color: $light-accent;
  }
}

a {
  color: inherit;
  &:hover {
    color: $light-accent;
  }
}

.main-container {
  padding: 4.5rem 2rem 2rem 2rem; /* ^>v< */
  background-color: $dark-shades;
  font-size: 1rem;
  margin: 0 auto;
  line-height: 1.5;
  height: 100%;
}

.home-content {
  text-align: center;
  padding-bottom: 10rem;
  li {
    display: list-item;
    list-style-type: circle;
  }
  a {
    color: $light-accent;
  }
}

.post-content-date {
  text-align: center;
  font-family: 'Merriweather', serif;
  font-style: italic;
  margin-bottom: 2rem;
}

.post-content{
 font-family: 'Merriweather', serif;

  li {
    display: list-item;
    list-style-type: circle;
  }
  margin-left: 3%;
  margin-right: 3%;
  hr {
    margin-bottom: 4rem;
  }
  h1 {
    margin-top: 4rem;
  }
  pre {
    border-left: 2px solid $light-accent;
    border-bottom: 1px solid darken($light-accent, 20%);
    padding: 1rem;
    background-color: lighten($dark-shades, 5%);
  }
  code {
    background-color: lighten($dark-shades, 5%);
    padding: 0.2rem 0 0.2rem 0;
    color: $light-shades;
  }
  img {
    max-width: 90%;
    display: block;
    margin: 0 auto;
    padding: .25rem;
    border: 1px solid $dark-accent;
    border-radius: .5rem;
  }
  a {
    color: $dark-accent;
  }
}

.post-date {
  color: darken($light-shades, 40%);
}


 h1 {
   text-align: center;
 }

.row {
  margin: 0;
}

form {
  text-align: left;
}

.current {
  background-color: grey;

}

.jumbotron {
  .intro {
    padding-top: 20vh;
  }
  text-align: center;
  height: 100vh;
  background-color: #aaa;
  margin: 0;
  background-image: url("../images/jumbotron_bg.jpg");
  background-size: cover;
  background-position: center;
}

.page-not-found {
  padding-top: 30vh;
  text-align: center;
}

.navbar {
  padding: 0 1rem;
  width: 100%;
  box-sizing: border-box;
  .active {
    background-color: $main-color;
  }
}


.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
    color: $main-color;
    mix-blend-mode: difference;
    &:hover {
      color: $dark-accent;
    }
}

.navbar-light .navbar-nav .nav-link {
  color: $light-shades;
  mix-blend-mode: difference;
  &:hover {
    color: $dark-accent;
  }
}

.navbar-toggler {
  border: none;
}

.navbar-nav {
  .nav-link {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.navbar-light .navbar-toggler-icon {
  filter: brightness(0) invert(1);
}

.wrapper {
  box-sizing: border-box;
  position: relative;
  padding-bottom: 12.5rem;
  min-height: 100%;
}

footer{
  a {
    display: inline;
    color: $light-shades;
    margin: 0 .5rem;
  }
  position: absolute;
  bottom: 0;
  text-align: center;
  padding: 5rem;
  color: darken($light-shades, 50%);
  background-color: darken($dark-shades, 10%);
}
.avertium, .asu {
  img{
    max-height: 5rem;
    margin: 2rem;
  }
  p {
    padding-top: 1rem;
  }
}

hr {
  border: none;
  background-color: $main-color;
  height: 5px;
  max-width: 50px
}

h3 {
  padding-top: 3rem;
}

.intro {
  color: #fff;
  text-shadow: 1px 1px #111;
  h1 {
    text-shadow: 2px 2px #111;
    font-size: 4rem;
  }
}

img {
  max-width: 100%;
}

.back-button {
  text-align: center;
  padding-top: 2rem;
}

.pagination {
  margin-bottom: 3rem;
  .previous {
    position: absolute;
    left: 20%;
  }
  .next {
    position: absolute;
    right: 20%;
  }
}

.projects {
  h4 {
    margin: 1rem 0;
  }
  a {
    margin: 1rem;
  }
  .col-lg-4 {
    margin: 2rem 0;
  }
}

.navbar-brand {
  
  margin-right: 40px !important;

}

input::-moz-focus-inner { 
  border: 0; 
}



/* Share buttons */
.sharebuttons {
  margin: 0 auto 0 auto;
  text-decoration: none;
  text-align: center;

  svg {
    margin: .5rem;
    width: 2rem;
    height: 2rem;
  }
  .reddit svg {
    fill: lighten(#FF4500, 0%);
  }
  .googleplus svg {
    fill: lighten(#DC4E41, 0%);
  }
  .twitter svg {
    fill: lighten(#1DA1F2, 0%);
  }
  .linkedin svg {
    fill: lighten(#0077B5, 0%);
  }
  .facebook svg {
    fill: lighten(#4172B8, 0%);
  }
  * {
    display: inline;
  }
  .sharetitle {
    display: block;
  }
}


.fixed-top{
  background-color: rgba($dark-shades, .0);
  &.scrolled {
    background-color: $dark-shades !important;
    transition: background-color 200ms linear;
  }
}

